<template>
  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
        <div
          v-for="app in apps"
          :key="app.name"
          class="column is-one-third">
          <app-app-collection-app-card
            :image="'../../../icons/' + app.name + '.png'"
            :app="app"
            @action="redirectToApp(app.nameOnline)"/>
        </div>
        <div class="column">
          <app-app-collection-app-preview-card/>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import AppAppCollectionAppCard from '@/modules/universo/components/AppAppCollectionAppCard'
import AppAppCollectionAppPreviewCard from '@/modules/universo/components/AppAppCollectionAppPreviewCard'

export default {
  components: {
    AppAppCollectionAppCard,
    AppAppCollectionAppPreviewCard
  },
  computed: {
    hasAnyRealms () {
      return this.$store.getters['app/hasRealms']
    },
    apps () {
      let apps = this.$store.getters['universo/apps']
      apps = apps.map((app) => {
        return {
          name: app.name,
          title: this.$t(app.title),
          description: this.$t(app.description),
          nameOnline: app.nameOnline
        }
      })
      return apps
    }
  },
  created: function () {
    this.$store.dispatch('universo/getApps')
  },
  methods: {
    redirectToApp (app) {
      const url = 'http://' + app + '.' + process.env.VUE_APP_BASE_DOMAIN
      window.location.href = url
    }
  }
}
</script>
