<template>
  <div class="card is-card">
    <div class="card-content">
      <div class="content">
        <figure
          style="margin: auto;"
          class="image is-96x96">
          <img
            :src="image"
            alt="app-image">
        </figure>
      </div>
      <div class="content has-text-centered">
        <h4>
          <strong>{{ app.title }}</strong>
        </h4>
        <p>{{ app.description }}</p>
        <div style="padding: 15px">
          <base-button
            class="is-action-button"
            @click="action">
            {{ $t('UNIVERSO.APP_COLLECTION.REDIRECT_TO_APP') }}
          </base-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      default: ''
    },
    app: {
      default () {
        return {}
      },
      type: Object
    }
  },
  methods: {
    action () {
      this.$emit('action')
    }
  }
}
</script>

<style lang="scss" scoped>
  .is-card {
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.10);
    transition: all 5ms ease-in-out;
  }

  .is-action-button {
    background-color: #fe736f;
    color: white;
    border: 0;
    &:hover {
      background-color: darken(#fe736f, 7%);
    }
    &:active {
      background-color: #fe736f;
    }
  }
</style>
