<template>
  <div class="card is-info-card is-shadowless">
    <div class="card-content">
      <div class="content">
        <figure
          style="margin: auto;"
          class="image is-96x96">
          <img
            src="/icons/next-app.png"
            alt="next-app-image">
        </figure>
      </div>
      <div class="content has-text-centered">
        <h4>
          <strong>{{ $t('UNIVERSO.APP_COLLECTION.COMING_SOON_CARD_TITLE') }}</strong>
        </h4>
        <p>{{ $t('UNIVERSO.APP_COLLECTION.COMING_SOON_CARD_DESCRIPTION') }}</p>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  .is-info-card {
    background-color: #f5f5f5;
    height: 100%;
    border-radius: 20px;
    transition: all 5ms ease-in-out;
  }

  .is-info-button {
    background-color: none;
    border-color: #ababab;
    border: 2px;
  }
</style>
